/* body {
  min-height: 100vh;
  width: 100%;
} */

.register-form-container {
  width: 100%;
  min-height: 100vh;
  
  display: flex;
  justify-content: center

}

.wrap-login {
    display: flex;
    flex-direction: column;
    align-items: center; /* Cross axis alignment */
    justify-content: center; /* Main axis alignment */

    box-sizing: border-box;
    /* border: 5px solid grey; */
    padding: 77px 55px 33px 55px;
}

.register-btn {
  padding-top: 20px;
}